.content-form-login {
    margin-top: 12% !important;
}

.body-form {
    width: 700px !important;
}

.image-logo-form-login {
    width: 150px !important;
    height: 150px !important;
    margin-left: 52% !important;
}

.image-title-form-login {
    margin-left: 30% !important;
    margin-bottom: 2% !important;
}

.button-login-form {
    width: 100%;
}

.select-form-login {
    width: 100% !important;
}