.nav-show-event-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    padding: 15px;
}

.content-form-login-user {
    margin-top: 10%;
}

.box-show-event-user {
    margin-top: -15%;
    width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
}

.button-participate-event-user {
    width: 100%;
    background-color: #14a807 !important;
    border: #14a807 !important;
}

.button-participate-event-user:hover {
    background-color: #28c01a !important;
    border: #28c01a !important;
}

.theme-event-user {
    width: 100%;
    background-color: #079da8 !important;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 1%;
}

.theme-event-user:hover {
    background-color: #11b0bb !important;
    transition: 0.3s;
}

.type-event-user {
    width: 100%;
    background-color: #ca0b0b !important;
    border-radius: 8px;
    padding: 10px;
    color: #ffffff;
    margin-top: 2%;
    margin-bottom: 2% !important;
}

.type-event-user:hover {
    background-color: #ac2424 !important;
    transition: 0.3s;
}

.adress-event-user {
    border: 1px solid #f6f6f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.adress-event-1-user, .adress-event-2-user, p {
    margin-bottom: 0px !important;
}

.show-presition-event-user {
    border: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}