.content-form-login-assigment {
    margin-top: 10% !important;
}

.body-form-assigment {
    width: 700px !important;
}

.image-logo-form-login-assigment {
    width: 150px !important;
    height: 150px !important;
    margin-left: 52% !important;
}

.image-title-form-login-assigment {
    margin-left: 30% !important;
    margin-bottom: 2% !important;
}

.button-login-form-assigment {
    width: 100%;
    margin-bottom: 1%;
}

.select-form-login-assigment {
    width: 100% !important;
}

.link-page-register-assigment {
    float: left;
    font-size: 12px;
    margin-top: -30px;
}