.participant {
    border: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.button-participate-event-admin {
    background-color: #40a9ff !important;
    width: 100%;
}