.nav-home-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 60px;
    padding: 15px;
}

.card-box-atividade-user {
    width: 450px !important;
    border-radius: 12px !important;
    margin-top: 2%;
}

.logo-home-nav-user {
    width: 50px;
    height: 50px;
}

.conteudo-atividades-user {
    margin-top: 2%;
}

.footer-home-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}